<ion-content class="login-content" padding>
    <ion-row class="logo-row animated fadeIn">
        <ion-col>
          <img class="logo-enm" src="../../assets/icon/logo_enm.png"/>
        </ion-col>
      </ion-row>
  <div class="login-box animated fadeInUp">
      <form [formGroup]="signInForm" (ngSubmit)="signin()">
          <ion-item class="margin-bottom">
            <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
          <br>
          <button class="submit-btn" ion-button round block type="submit" [disabled]="!signInForm.valid">Masuk</button>
        </form>
        <p class="daftar-p" (click)="signUp()">Belum punya akun? <b>Daftar disini!</b></p>
        <p class="lupa-kata-sandi" (click)="forgetPassword()">Lupa kata sandi</p>
  </div>
</ion-content>

