page-login {
    .login-content {
        // background: linear-gradient(#d32f2f,#fc4d4d,#f79090);
        background: #d32f2f;
        // background-image: url('../assets/imgs/bg_login.png');
        background-size: 100%;
    }
     
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
        }
     
        .login-box {
          border-radius: 10px;
          box-shadow: 10px;
          // background: #ffffff;
          padding: 0px 20px 0px 20px;
          margin-top: 30px;
        }

        .daftar-p{
            color: #ffffff;
            text-align: center;
        }

        .lupa-kata-sandi{
            color: #ffffff;
            text-align: center;
        }

        .logo-enm{
            height: 150px;
            width: 150px;
        }
     
        .margin-bottom{
          margin-bottom: 10px;
        }

        ion-row {
           align-items: center;
           text-align: center;
         }
     
         ion-item {
             border-radius: 30px !important;
             padding-left: 30px !important;
             font-size: 0.9em;
             margin-bottom: 30px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
     
         .signup-col {
           margin: 0px 16px 0px 16px;
           padding-bottom: 20px;
         }
     
         .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
         }
     
         .submit-btn {
           background: #ff6659;
           border-radius: 30px !important;
           border: 1px solid #ff6659;
         }
     
         .register-btn {
           color: #ffffff;
           font-size: 0.8em;
         }
    
}
