<!--
  Generated template for the ListOrderUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Daftar Pesanan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
      <img *ngIf="size==0" style="text-align:center" src="../../assets/imgs/bg_kosong_2.png" style="width: 100%; height: 100%;">
  </div>
  <!-- <h2 *ngIf="size==0" style="text-align:center">Tidak ada order</h2> -->
  <div *ngIf="size!=0">
    <div *ngFor="let x of dataOrder; let i = index">
      <ion-card class="card-border" *ngIf="x.order_status=='ongoing' && (x.sales_order_status=='pending' || x.sales_order_status=='accepted')">
          <ion-card-header>
              <b class="nama-toko">{{x.shop_name}}</b>
              <!-- <h2>Toko : </h2> -->
            <!-- <h1>{{x.order_id}}</h1> -->
              <p>ENM/{{x.order_id}}/ID</p>
          </ion-card-header>
          <ion-card-content style="text-align:left;">
              <ion-grid>
                <ion-row>
                  <ion-col col-12>
                      <p><b>Total Transaksi : </b>Rp. {{x.total_price}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                      <p><b>No. Telepon : </b>{{x.shop_phone}}</p>
                  </ion-col>
                  <ion-col col-4>

                    </ion-col>
                </ion-row>
              </ion-grid>
              
              <ion-item >
                  <ion-badge class="badge" item-end *ngIf="x.sales_order_status!='accepted'" color="secondary">Status Pesanan : {{x.sales_order_status | uppercase}}</ion-badge>
                  <ion-badge class="badge" item-end *ngIf="x.sales_order_status=='accepted'" color="green">Pengiriman : {{x.delivery_status | uppercase}}</ion-badge>
              </ion-item>
            </ion-card-content>
          
      </ion-card>
    </div>
  </div>
</ion-content>
