<!--
  Generated template for the SetorderModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Pilih Produk</ion-title>
    <ion-buttons start left>
        <button ion-button (click)="close()">
            <ion-icon class="menu-bar" name="arrow-back">
            </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>



</ion-header>


<ion-content padding>
  <h2 *ngIf="size==0" style="text-align:center">Produk Belum Tersedia</h2>
  <div *ngIf="size!=0" >
    <div *ngFor="let x of shopProduct; let i = index">
      <ion-card class="card-border" *ngIf="x.status=='show' && x.stock_volume!=0" >
        <ion-card-header>
          <h1>{{x.product_name}}</h1>
        </ion-card-header>
        <ion-card-content style="text-align:right;">
          <h2>Rp. {{x.price_per_volume}} /Liter</h2>
        </ion-card-content>
        <ion-buttons end>
            <button name="add" ion-button (click)="addBtn(x,i);">Pesan</button>
        </ion-buttons>
        
      </ion-card>
    </div>      
  </div>
  
      <!-- <button ion-button round block class="closeBtn" name="close" ion-button (click)="close();">Kembali</button> -->
  
      <!-- <ion-card *ngIf="x.sales_order_status=='pending'">  -->
</ion-content>
