<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>Pengaturan</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding>
    <ion-card class="card-border margin-bottom-30 animated fadeIn">
        <!-- <ion-card-header>
          <h1>{{ datauser.name }}</h1>
        </ion-card-header> -->
        <ion-card-content>
          <h1 class="font-all"><b>{{datauser.name}}</b></h1>
          <b>Email : </b><p class="hint">{{ datauser.email}}</p>
          <b>No. Telepon : </b><p class="hint">{{ datauser.phone}}</p>
          <b>Alamat : </b><p class="hint">{{ datauser.address}}</p>
        </ion-card-content>
      </ion-card>
      <ion-list class="list">
          <button (click)="ChangeProfile()" class="item item-block  item-ios custom-button" ion-item=""><ion-icon item-start ios="md-person" name="person" class="icon item-icon hint" aria-label="call"></ion-icon>Ubah Profil Pengguna</button>
          <button (click)="ChangePassword()" class="item item-block  item-ios custom-button" ion-item=""><ion-icon item-start ios="" name="key" class="icon item-icon hint" aria-label="call"></ion-icon>Ubah Kata Sandi</button>
      <button class="btn-logout margin-top-30" ion-button round round block (click)="LogoutFunct()">Keluar</button>

      </ion-list>
    <!-- <button ion-button round block (click)="ChangeShopLoc()">Ubah Lokasi Toko</button> -->
   
</ion-content>
