<!--
  Generated template for the OrderUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <div class="maps1 background-order" #mapContainer>
        <div class="btn-float">
            <button ion-button block round (click)="openModal()">Lihat List Toko</button>
          </div>
            
      </div> 
    

    
<!--        <ion-refresher (ionRefresh)="doRefresh($event)">
              <ion-refresher-content></ion-refresher-content>
            </ion-refresher> -->
          
      
     
    

</ion-content>
