page-order-user {
    $toolbar-background: #ff6659;

    
.maps1
{
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.list
{
    margin-top: 0%;
}

ion-list{
    overflow: auto !important;
}

#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

.content-order{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    // text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    z-index: 100;
    position: absolute;
    
}

ion-scroll{
    z-index: 100 !important;
    background-color: transparent;
    height: 100%;
}

.btn-round-margin{
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    align-content: center;
    // top: 95%;
    // left: 40%;
    // transform: translate(-40%,-100%);
    margin-top: 150%;
    z-index: 1000;
    width: 80%;
}
.btn-float{
    margin-left: 10%;
    margin-right: 10%;
    position: fixed; 
    bottom: 0px; 
    width: 80%; 
    margin-bottom: 25%; 
    z-index: 1;
}

.bgbg{
    height: 100%;
    width: 100%;
}

.background-order{
    background: transparent;
    height: 100% ; 
  width: 100%; 
  z-index: -100;
}
}
