<!--
  Generated template for the ShopAcceptedOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Berlangsung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div *ngIf="countAcceptedData<=0">
          <img src="../../assets/imgs/acceptshop.png" style="width: 100%; height: 100%;">
          <!-- <p *ngIf="countPendingData<=0">Tidak Ada Data</p> -->
        </div>
  <!-- <p *ngIf="countAcceptedData<=0">Tidak Ada Data</p> -->
  <div *ngIf="countAcceptedData>0">
    <div *ngFor="let x of orderData; let i = index" class="animated fadeIn">
    <div *ngIf="x.sales_order_status=='accepted' && x.delivery_status=='pending'"> 
          <!-- list ditampilkan untuk order yg belum ada delivery status -->
        <ion-grid>
            <ion-row padding-left padding-right>
                <h3><b>{{x.user_name}}\n</b></h3>
            </ion-row>
            <p padding-left class="hint">ENM/{{x.order_id}}/ID</p>

            <ion-row padding-left padding-right class="line" >
              <ion-col col-7>
                <p class="produk-name">{{x.user_phone}}</p>
              </ion-col>  
              <ion-col col-5>
                <button ion-button block color="light-green" (click)="call(x)"><ion-icon class="margin-right-5" name="call"></ion-icon>Hubungi</button>
              </ion-col>
              
              
            </ion-row>
            <ion-row padding-left>
              <ion-col>
                <p class="hint">Pesanan</p>
              </ion-col>
            </ion-row>
            <div class="line">
                <ion-row *ngFor="let y of x.product; let i = index" padding-left padding-right>
                    <ion-col>
                      <p class="produk-name">{{y.product_name}}</p>
                    </ion-col>
                    <ion-col>
                      <p class="produk-name align-right"><b>{{y.volume}} Liter</b></p>
                    </ion-col>
                  </ion-row>
            </div>
            <ion-row>
              <p padding-left class="p"><b>Catatan : </b>{{x.user_notes}}</p>
            </ion-row>
            <ion-row padding-top>
              <ion-col col-6>
                  <button block ion-button (click)="showBuyerLocation(x)"><ion-icon name="compass" class="margin-right-5" ></ion-icon>Lihat Peta</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button (click)="delivered(x)" color="green" block><ion-icon name="checkmark" class="margin-right-5"></ion-icon>Selesai</button>
              </ion-col>
            </ion-row>
        </ion-grid> 
          
          
          <!-- <ion-item-options side="left"  #item>  -->
            <!-- NOTES : MASIH SALAH ITU #ITEM NYA  -->
              <!-- <button ion-button (click)="showBuyerLocation(item,x)">Lihat Peta</button>
            </ion-item-options>
          <ion-item-options side="right"> -->
            <!-- <button ion-button (click)="delivered(item,x)">Terkirim</button> -->
            <!-- jika ditolak, order masuk ke riwayat -->
            <!-- jika diterima, order masuk ke berlangsung -->
          <!-- </ion-item-options> -->
      </div>
       </div>
    </div>
</ion-content>
