<!--
  Generated template for the RegisterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ubah Profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item-group>
      
      <form [formGroup]="formRegistrasi" (ngSubmit)="update()">
          <ion-item-divider color="primary">Data Pengguna</ion-item-divider>
        
        <ion-item>
          <ion-label floating>Nama Lengkap/Nama Toko</ion-label>
          <ion-input type="text" formControlName="name" value="{{datauser.name}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Nomor Telepon</ion-label>
            <ion-input type="number" formControlName="phone" value="{{datauser.phone}}"></ion-input>
        </ion-item>
        <br>
        <ion-item-divider color="primary">Lokasi</ion-item-divider>
        <ion-item>
            <ion-label floating>Alamat Lengkap</ion-label>
            <ion-textarea type="text" formControlName="address" value="{{datauser.address}}"></ion-textarea>
        </ion-item>
        <ion-row>
          <ion-col><ion-item>
              <ion-label floating>Latitude di Peta</ion-label>
              <ion-input type="text" formControlName="lat" readonly="true" value="{{datauser.lat}}"></ion-input>
          </ion-item></ion-col>
          <ion-col><ion-item>
              <ion-label floating>Longitude di Peta</ion-label>
              <ion-input type="text" formControlName="lng" readonly="true" value="{{datauser.lng}}"></ion-input>
          </ion-item></ion-col>
        </ion-row>
        <button type="button" ion-button block round (click)="selectMapsLoc()" color="primary">Pilih di Peta</button>
        <br>
        
        
        <br>
        <button ion-button block round color='secondary' type="submit" [disabled]="!formRegistrasi.valid">Perbaharui</button>
      </form>
    </ion-item-group>
    <button ion-button block round (click)="cancel()" color="danger">Batalkan</button>
</ion-content>
