<!--
  Generated template for the ShopOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="animated fadeIn">

  <ion-navbar color="primary">
    <ion-title start left>Pesanan</ion-title>
    <ion-buttons start right>
      <button ion-button (click)="openHistory()">
          <ion-icon ios="md-clipboard" class="menu-bar" name="clipboard">
          </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div *ngIf="countPendingData<=0">
      <img src="../../assets/imgs/bg_kosong_1.png" style="width: 100%; height: 100%;">
      <!-- <p *ngIf="countPendingData<=0">Tidak Ada Data</p> -->
    </div>
  
  <div *ngIf="countPendingData>0">
    <div *ngFor="let x of orderData; let i = index" class="animated fadeIn">
    <ion-card class="card-border" *ngIf="x.sales_order_status=='pending'"> 
      <ion-list >
        <ion-item-sliding #item>
          <!-- list ditampilkan untuk order yg belum ada delivery status -->
          <ion-item (click)="call(x)">
            <h2><b>{{x.user_name}}</b></h2>
            <p>{{x.user_phone}}</p>
            <p>ORDER{{x.order_id}}</p>
            <!-- <p>Produk:</p> -->
            <br>
            <ion-grid>
              <p class="hint">Pesanan</p>
              <ion-row *ngFor="let y of x.product; let i = index">
                
                <ion-col>
                  <p class="produk-name">{{y.product_name}} </p>
                </ion-col>
                <ion-col>
                  <p class="produk-name align-right"><b>{{y.volume}} Liter</b></p>
                </ion-col>
              </ion-row>
              
            </ion-grid>
            
            <p>Catatan: {{x.user_notes}}</p>
          </ion-item>
          
          <!-- <ion-item-options side="left">
              <button ion-button (click)="showBuyerLocation(item,x)">Lihat Peta</button>
            </ion-item-options>
          <ion-item-options side="right">
            <button ion-button (click)="accept(item,x)">Terima</button>
            <button ion-button (click)="reject(item,x)">Tolak</button>
          </ion-item-options> -->
                      <!-- jika ditolak, order masuk ke riwayat -->
            <!-- jika diterima, order masuk ke berlangsung -->
        </ion-item-sliding>
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              <button ion-button block (click)="showBuyerLocation(item,x)"><ion-icon name="compass" class="margin-right-5"></ion-icon>Lihat Peta</button>
            </ion-col>
            <ion-col col-2>
              <button color="green" block ion-button (click)="accept(item,x)"><ion-icon name="checkmark"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
              <button color="danger" block ion-button (click)="reject(item,x)"><ion-icon name="close"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
      </ion-list>
    </ion-card>
  </div>
</div>
</ion-content>
