page-shop-order {
    .card-border{
        // background: #ff6659;
        border-radius: 15px !important;
        border: 1px solid #ff6659;
        width: 100%;
        margin-left: 0%;
    }

    ion-col{
        // margin-left: 3px;
    }

    .margin-right-5{
        margin-right: 5px;
    }

    ion-navbar{
        height: 50px !important;
    }

    .produk-name{
        font-size: 15px;
        color: black;
    }
    .align-right{
        text-align: right;
    }

    .hint{
        color: #808080;
    }
    ion-title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;    
    }

    .font-all{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;    
    }

    ion-content{
        background-image: url("/../assets/imgs/bg_profile") !important;
    }

    .menu-bar{
        font-size: 24px;
    }
    // ion-list{
    //     // background: #ff6659;
    //     border-radius: 25px !important;
    //     border: 1px solid #ff6659;
    // }
    
    .noData{
        
        background-image: url("../../assets/imgs/bg_kosong_1.png");
    }
}
