<!--
  Generated template for the ViewUserLocationModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>viewUserLocationModal</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="animated bounceInUp">
    <div style="width: 100%; height: 100%" #mapContainer></div>
    <div class="floating-btn">
        <button class="margin-left-10"color="green"  ion-button round (click)="navigate()"><ion-icon name="navigate"></ion-icon>Lakukan Navigasi</button>
        <button ion-button round (click)="cancel()">Kembali</button>    
    </div>
    
</ion-content>
