page-register-modal {

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    input[type=number] {
        -moz-appearance:textfield;
    }

    .text-input::-moz-placeholder {
        color: white;
      }
      
      .text-input:-ms-input-placeholder {
        color: white;
      }
      
      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
      }

      $text-input-placeholder-color:(#ffffff);

      .map{
        //   top left bottom right
          margin: 0px 20% 10% 20%;

          width: 60%;
          background : #8BC34A;
          color: white;
      }

      .map:active {
        background-color: yellow;
    }

      .btn-submit{
          width: 80%;
          margin-left: 10%;
          margin-right: 10%;

      }

      .error{
        color: red;
        font-size: 12px;
        margin-left: 15px;
    }
}
