<!--
  Generated template for the RegisterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>REGISTER</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-item-group>
      
      <form [formGroup]="formRegistrasi" (ngSubmit)="daftar()">
  
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <p *ngIf="formRegistrasi.get('email').hasError('required') && formRegistrasi.get('email').dirty">
              <ion-label class="error">Email Harus Diisi</ion-label>
          </p>            
          <p *ngIf="formRegistrasi.get('email').hasError('pattern')">
              <ion-label class="error">Bentuk Email Tidak Sesuai</ion-label>
          </p>

          <ion-item>
            <ion-label floating>Kata Sandi</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <p *ngIf="formRegistrasi.get('password').hasError('required') && formRegistrasi.get('password').dirty">
              <ion-label class="error">Kata Sandi Harus Diisi</ion-label>
          </p>
          <p *ngIf="formRegistrasi.get('password').hasError('minlength') && !formRegistrasi.get('password').hasError('pattern')">
              <ion-label class="error">Masukkan Minimal 8 Karakter</ion-label>
          </p>
          <p *ngIf="formRegistrasi.get('password').hasError('pattern')">
              <ion-label class="error">Harus Terdapat Minimal 1 Huruf dan 1 Angka</ion-label>
          </p>

          <ion-item>
            <ion-label floating>Konfirmasi Kata Sandi</ion-label>
            <ion-input type="password" formControlName="conf_password"></ion-input>
          </ion-item>
          <p *ngIf="formRegistrasi.get('conf_password').hasError('required') && formRegistrasi.get('conf_password').dirty">
              <ion-label class="error">Konfirmasi Kata Sandi Harus Diisi</ion-label>
          </p>
          <p *ngIf="formRegistrasi.get('conf_password').hasError('minlength') && !formRegistrasi.get('conf_password').hasError('pattern')">
              <ion-label class="error">Masukkan Minimal 8 Karakter</ion-label>
          </p>
          <p *ngIf="formRegistrasi.get('conf_password').hasError('pattern')">
              <ion-label class="error">Harus Terdapat Minimal 1 Huruf dan 1 Angka</ion-label>
          </p>

          <ion-item>
            <ion-label floating>Nama Lengkap/Nama Toko</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <p *ngIf="formRegistrasi.get('name').hasError('required') && formRegistrasi.get('name').dirty">
              <ion-label class="error">Nama Harus Diisi</ion-label>
          </p>
          <p *ngIf="formRegistrasi.get('name').hasError('minlength')">
              <ion-label class="error">Masukkan Minimal 1 Karakter</ion-label>
          </p>
          <p *ngIf="formRegistrasi.get('name').hasError('maxlength')">
              <ion-label class="error">Masukkan Maksimal 10 Karakter</ion-label>
          </p>
          <ion-item>
              <ion-label floating>Nomor Telepon</ion-label>
              <ion-input type="number" formControlName="phone"></ion-input>
          </ion-item>
          <p *ngIf="formRegistrasi.get('phone').hasError('minlength')">
              <ion-label class="error">Masukkan Minimal 9 Angka</ion-label>
          </p>

          <!-- <ion-item-divider color="primary">Jenis Pengguna</ion-item-divider> -->
          <ion-item>
              <ion-label floating>Alamat Lengkap</ion-label>
              <ion-textarea type="text" formControlName="address" value="{{address}}"></ion-textarea>
          </ion-item>
          <ion-row>
            <ion-col><ion-item>
                <!-- <ion-label floating>Latitude di Peta</ion-label> -->
                <ion-input type="text" formControlName="lat" readonly="true" value="{{lat}}"></ion-input>
            </ion-item></ion-col>
            <ion-col><ion-item>
                <!-- <ion-label floating>Longitude di Peta</ion-label> -->
                <ion-input type="text" formControlName="lng" readonly="true" value="{{lng}}"></ion-input>
            </ion-item></ion-col>
          </ion-row>
          <button class="map" type="button" ion-button round (click)="selectMapsLoc()" >Pilih Lokasi</button>

      <ion-list-header color="primary">
          Jenis Pengguna
        </ion-list-header>
          <ion-list radio-group formControlName="type">
              <ion-item>
                <ion-label>Toko</ion-label>
                <ion-radio value="shop"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Perseorangan</ion-label>
                <ion-radio value="user"></ion-radio>
              </ion-item>
            </ion-list>
        <br>
        <button class="btn-submit" ion-button block round color='secondary' type="submit" [disabled]="!formRegistrasi.valid">Daftar</button>
      </form>
    </ion-item-group>
    <!-- <button ion-button block round (click)="cancel()" color="danger">Batalkan</button> -->
</ion-content>
