<!--
  Generated template for the ShopOrderHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Riwayat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div>
          <img *ngIf="countDoneData<=0" style="text-align:center" src="../../assets/imgs/riwayatuser.png" style="width: 100%; height: 100%;">
      </div>
  <!-- <p *ngIf="countDoneData<=0">Tidak Ada Data</p> -->
  <div *ngIf="countDoneData>0">
    <div *ngFor="let x of orderData; let i = index">
    <ion-card class="card-border animated fadeIn" *ngIf="(x.sales_order_status=='accepted' && x.delivery_status=='delivered'  && x.order_status=='done') || x.sales_order_status=='rejected'"> 
      <ion-list>
        <ion-item-sliding #item>
          <!-- list ditampilkan untuk order yg belum ada delivery status -->
          <ion-item>
              <h2><b>{{x.user_name}}</b></h2>
              <p>ENM/ORDER{{x.order_id}}/ID</p>
              <p>{{x.user_phone}}</p>
              <br>
            <!-- <h2>DEBUG: {{x.order_id}}</h2> -->
            <!-- <h2>salesorderstatus: {{x.sales_order_status}}</h2>
            <h2>salesorderstatus: {{x.delivery_status}}</h2> -->
            
            <!-- <p>Produk:</p> -->
            <ion-grid class="line">
                <p class="hint">Pesanan</p>
                <ion-row *ngFor="let y of x.product; let i = index">
                  <ion-col>
                    <p class="produk-name">{{y.product_name}} </p>
                  </ion-col>
                  <ion-col>
                    <p class="produk-name align-right"><b>{{y.volume}} Liter</b></p>
                  </ion-col>
                </ion-row>
                
              </ion-grid>
              <h2>Status : <b>{{x.order_status}}</b></h2>
          </ion-item>
<!--           
          <ion-item-options side="left">
              <button ion-button (click)="showBuyerLocation(item,x)">Lihat Peta</button>
            </ion-item-options> -->
          <!-- <ion-item-options side="right">
            <button ion-button (click)="delivered(item,x)">Terkirim</button>
            jika ditolak, order masuk ke riwayat
            jika diterima, order masuk ke berlangsung
          </ion-item-options> -->
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </div>
</div>
</ion-content>
