page-history-user {
    .card-border{
        // background: #ff6659;
        border-radius: 15px !important;
        border: 1px solid #ff6659;
        width: 100%;
        margin-left: 0%;
    }

    ion-col{
        // margin-left: 3px;
    }

    .margin-right-5{
        margin-right: 5px;
    }

    .produk-name{
        font-size: 15px;
        color: black;
    }
    .align-right{
        text-align: right;
    }

    .hint{
        color: #808080;
    }

    hr {
        border: 0;
        clear:both;
        display:block;
        width: 96%;               
        background-color:#FFFF00;
        height: 1px;
      }

    .line{
        border-bottom: 1px solid #E0E0E0;
    }
    // $button-ios-padding-bottom : $button-ios-padding-top;
    ion-button{
        padding-top: -5px;
        padding-bottom: -5px;
    }

    .nama-toko{
        font-size: 20px;
        // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .badge{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
    }

}
