<!--
  Generated template for the HistoryUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Riwayat Pesanan</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div>
          <img *ngIf="size==0" style="text-align:center" src="../../assets/imgs/riwayatuser.png" style="width: 100%; height: 100%;">
      </div>
    <!-- <h2 *ngIf="countDoneData<=0" style="text-align:center">Tidak ada riwayat order</h2> -->
    <div *ngIf="countDoneData>0">
      <div *ngFor="let x of orderData; let i = index">
        <ion-card class="card-border" *ngIf="(x.sales_order_status=='accepted' && x.delivery_status=='delivered'  && x.order_status=='done') || x.sales_order_status=='rejected'">
            <ion-list>
                <ion-item-sliding #item>
                  <!-- list ditampilkan untuk order yg belum ada delivery status -->
                  <ion-item>
                    <h2>ID Trankasi: ENM/{{x.order_id}}/ID</h2>
                    <p>Produk :</p>
                    <ion-grid *ngFor="let y of x.product; let i = index">
                      <ion-row>
                        <ion-col col-7>
                            <p>{{y.product_name}}</p>
                        </ion-col>
                        <ion-col col-5>
                            <p>{{y.volume}} Liter</p>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12>
                          <hr>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12>
                            <h3 style="text-align: right;"><b>Rp.{{y.volume*y.price_per_volume}}</b></h3>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <!-- <p *ngFor="let y of x.product; let i = index">, , </p> -->
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
            </ion-card>
      </div>
    </div>
</ion-content>
