<!--
  Generated template for the ForgetPasswordModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lupa Kata Sandi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <!-- <form #forgotPwd="ngForm" (ngSubmit)="forgotPwd()">
      <ion-list>
        <ion-item>
            <ion-label stacked>Email Pengguna:</ion-label>
            <ion-input type="email" name="email" required placeholder="Email Pengguna" ngModel></ion-input>
        </ion-item>        
      </ion-list>

      <button ion-button round type="submit" [disabled]="!forgotPwd.valid">Lupa Kata Sandi</button>
      <button ion-button round type="button" (click)="cancel()">Batal</button>
  </form> -->
  <form #pwd="ngForm" (ngSubmit)="editPassword(pwd)">
      <ion-list>
          <ion-item>
            <ion-label stacked>Email:</ion-label>
            <ion-input type="email" name="email" required placeholder="Email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" ngModel #email="ngModel"></ion-input>
          </ion-item>              
      </ion-list>

      <button ion-button round type="submit" [disabled]="!pwd.valid">Lupa Kata Sandi</button>
      <button ion-button round type="button" (click)="cancel()">Batalkan</button>
    </form>
</ion-content>
