<!--
  Generated template for the ShopAcceptedOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Berlangsung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <p *ngIf="countAcceptedData<=0">Tidak Ada Data</p>
  <div *ngIf="countAcceptedData>0">
    <div *ngFor="let x of orderData; let i = index">
    <ion-card class="card-border" *ngIf="x.sales_order_status=='accepted' && x.delivery_status=='pending'" > 
      <ion-list>
        <ion-item-sliding #item>
          <!-- list ditampilkan untuk order yg belum ada delivery status -->
          <ion-item (click)="call(x)">
              <h2><b>{{x.user_name}}</b></h2>
              <p>{{x.user_phone}}</p>
            <!-- <h2>DEBUG: {{x.order_id}}</h2> -->
            <!-- <p>Produk:</p> --><br>
            <!-- <p class="p" *ngFor="let y of x.product; let i = index"><b>{{y.product_name}} {{y.volume}} Liter</b></p>  -->
            <ion-grid>
                <p class="hint">Pesanan</p>
                <ion-row *ngFor="let y of x.product; let i = index">
                  <ion-col>
                    <p class="produk-name">{{y.product_name}} </p>
                  </ion-col>
                  <ion-col>
                    <p class="produk-name align-right"><b>{{y.volume}} Liter</b></p>
                  </ion-col>
                </ion-row>
                <hr>
              </ion-grid>
            <!-- , Rp.{{y.volume*y.price_per_volume}} -->
            <hr>
            <p class="p">Catatan: {{x.user_notes}}</p>
          </ion-item>
          
          <ion-item-options side="left">
              <button ion-button (click)="showBuyerLocation(item,x)">Lihat Peta</button>
            </ion-item-options>
          <ion-item-options side="right">
            <button ion-button (click)="delivered(item,x)">Terkirim</button>
            <!-- jika ditolak, order masuk ke riwayat -->
            <!-- jika diterima, order masuk ke berlangsung -->
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </div>
</div>
</ion-content>
