<!--
  Generated template for the EditShopPasswordModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ubah Kata Sandi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="passwordForm" (ngSubmit)="editPassword()">
      <ion-list>
        <ion-item>
          <ion-label stacked>Kata Sandi Lama:</ion-label>
          <ion-input type="password" formControlName="oldPwd" placeholder="Kata Sandi Lama"></ion-input>         
        </ion-item>
        <p *ngIf="passwordForm.get('oldPwd').hasError('required') && passwordForm.get('oldPwd').dirty">
            <ion-label class="error">Kata Sandi Lama Harus Diisi</ion-label>
        </p>
        <ion-item>
          <ion-label stacked>Kata Sandi Baru:</ion-label>          
          <ion-input type="password" formControlName="newPwd" placeholder="Kata Sandi Baru" ngModel></ion-input>          
        </ion-item>
        <p *ngIf="passwordForm.get('newPwd').hasError('required') && passwordForm.get('newPwd').dirty">
            <ion-label class="error">Kata Sandi Baru Harus Diisi</ion-label>
        </p>
        <p *ngIf="passwordForm.get('newPwd').hasError('minlength') && !passwordForm.get('newPwd').hasError('pattern')">
            <ion-label class="error">Masukkan Minimal 8 Karakter</ion-label>
        </p>
        <p *ngIf="passwordForm.get('newPwd').hasError('pattern')">
            <ion-label class="error">Harus Terdapat Minimal 1 Huruf dan 1 Angka</ion-label>
        </p>
        <ion-item>
          <ion-label stacked>Ulang Kata Sandi Baru:</ion-label>
          <ion-input type="password" formControlName="repeatPwd" placeholder="Ulang Kata Sandi Baru" ngModel></ion-input>
        </ion-item>
        <p *ngIf="passwordForm.get('repeatPwd').hasError('required') && passwordForm.get('repeatPwd').dirty">
            <ion-label class="error">Ulang Kata Sandi Baru Harus Diisi</ion-label>
        </p>
        <p *ngIf="passwordForm.get('repeatPwd').hasError('minlength') && !passwordForm.get('repeatPwd').hasError('pattern')">
            <ion-label class="error">Masukkan Minimal 8 Karakter</ion-label>
        </p>
        <p *ngIf="passwordForm.get('repeatPwd').hasError('pattern')">
            <ion-label class="error">Harus Terdapat Minimal 1 Huruf dan 1 Angka</ion-label>
        </p>
      </ion-list>

      <button ion-button round type="submit" [disabled]="!passwordForm.valid">Ubah Kata Sandi</button>
      <button ion-button round type="button" (click)="cancel()">Batalkan</button>
    </form>
</ion-content>
