<!--
  Generated template for the SelectMapsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>Pilih Lokasi</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
    <div style="width: 100%; height: 100%" #mapContainer></div>
    <button ion-button style="margin-top: -30%;" block round (click)="select()" color="primary">Pilih</button>
    <button ion-button style="margin-top: -30%;" block round (click)="cancel()" color="danger">Batalkan</button>
</ion-content>
