<!--
  Generated template for the ShopProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>shopProfile</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
    <ion-card class="card-border margin-bottom-30 animated fadeIn">
      
          
        <ion-card-content>
          <h1 class="font-all"><b>{{ current_user.name }}</b></h1>
          <b>Email : </b><p class="hint">{{ current_user.email}}</p>
          <b>No. Telepon : </b><p class="hint">{{ current_user.phone}}</p>
          <b>Alamat : </b><p class="hint">{{ current_user.address}}</p>
          <!-- <p *ngIf="current_user.shop_description != ''">{{current_user.shop_description}}</p> -->
        </ion-card-content>
      </ion-card>
      <!-- <ion-grid>
        <ion-row (click)="ChangeShopLoc()" class="custom-button line">
        <ion-col col-2><ion-icon name="pin"></ion-icon></ion-col>
          <ion-col col-10>Ubah Lokasi Toko</ion-col>
        </ion-row>
        <ion-row (click)="ChangeProfile()" class="custom-button line">
          <ion-col col-2><ion-icon ios="md-person" name="person"></ion-icon></ion-col>
          <ion-col col-10>Ubah Profil Toko</ion-col>
        </ion-row>
        <ion-row (click)="ChangePassword()" class="custom-button line">
            <ion-col col-2><ion-icon name="key"></ion-icon></ion-col>
            <ion-col col-10>Ubah Kata Sandi</ion-col>
         </ion-row>
      </ion-grid> -->
      <ion-list class="list">
          <button (click)="ChangeShopLoc()" class="item item-block  item-ios custom-button" ion-item=""><ion-icon item-start name="pin" class="icon item-icon hint" aria-label="call"></ion-icon>Ubah Lokasi Toko</button>
          <button (click)="ChangeProfile()" class="item item-block  item-ios custom-button" ion-item=""><ion-icon item-start ios="md-person" name="person" class="icon item-icon hint" aria-label="call"></ion-icon>Ubah Profil Toko</button>
          <button (click)="ChangePassword()" class="item item-block  item-ios custom-button" ion-item=""><ion-icon item-start ios="" name="key" class="icon item-icon hint" aria-label="call"></ion-icon>Ubah Kata Sandi</button>
      </ion-list>
    <!-- <button ion-button round block (click)="ChangeShopLoc()">Ubah Lokasi Toko</button>
    <button ion-button round block (click)="ChangeProfile()">Ubah Profil Toko</button>
    <button ion-button round block (click)="ChangePassword()">Ubah Kata Sandi</button> -->
    <button ion-button round block (click)="LogoutFunct()" class="margin-top-30">Keluar</button>
</ion-content>
