<!--
  Generated template for the UserListModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="primary">
    <ion-title>Daftar Pertamini</ion-title>
    <ion-buttons start left>
        <button ion-button (click)="close()">
            <ion-icon class="menu-bar" name="arrow-back">
            </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="list content-order animated bounceInUp">
        <div *ngFor="let x of dataShop; let i = index">
          <ion-card class="card-border" >
            <ion-card-header>
              <h1>{{x.name}}</h1>
            </ion-card-header>
            <ion-card-content style="text-align:right;">
              <p>Tlp : {{x.phone}}</p>
              <p>{{x.address}}</p>
              <hr>
              <button ion-button (click)="showModal(x)">Pesan</button>
            <button ion-button (click)="call(x)">Telfon</button>
            </ion-card-content>
            
          </ion-card>
          
          </div>
          <!-- <button ion-button block round (click)="close()">Close</button> -->
      </div>
</ion-content>
