<!--
  Generated template for the UserListModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="primary">
    <ion-title>Daftar Pertamini</ion-title>
    <ion-buttons start left>
        <button ion-button (click)="close()">
            <ion-icon class="menu-bar" name="arrow-back">
            </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
    <div class="list content-order animated bounceInUp" padding>
        <div *ngFor="let x of dataShop; let i = index">
          <ion-card class="card-border" (click)="showModal(x)">
            <ion-card-header>
              <b><h1>{{x.name}}</h1></b>
            </ion-card-header>
            <ion-card-content style="text-align:left;">
              <p><b>No. Telepon : </b>{{x.phone}}</p>
              <p><b>Alamat :</b> {{x.address}}</p>
            </ion-card-content>
          </ion-card>
          </div>
      </div>
</ion-content>
