<!--
  Generated template for the UserListModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="primary">
    <ion-title>Daftar Pertamini</ion-title>
    <ion-buttons start left>
        <button ion-button (click)="close()">
            <ion-icon class="menu-bar" name="arrow-back">
            </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
    <div class="list content-order animated bounceInUp" padding>
        <div *ngFor="let x of dataShop; let i = index">
          <ion-card class="card-border" >
            <ion-card-header>
              <b><h1>{{x.name}}</h1></b>
            </ion-card-header>
<<<<<<< HEAD
            <ion-card-content style="text-align:left;">
              <p><b>No. Telepon : </b>{{x.phone}}</p>
              <p><b>Alamat :</b> {{x.address}}</p>
=======
            <ion-card-content style="text-align:right;">
              <p>Tlp : {{x.phone}}</p>
              <p>{{x.address}}</p>
              <hr>
              <button ion-button (click)="showModal(x)">Pesan</button>
            <button ion-button (click)="call(x)">Telfon</button>
>>>>>>> 48f16e6a14a9423c04210cb4117ef39ec93641c1
            </ion-card-content>
            
          </ion-card>
          
          </div>
<<<<<<< HEAD
=======
          <!-- <button ion-button block round (click)="close()">Close</button> -->
>>>>>>> 48f16e6a14a9423c04210cb4117ef39ec93641c1
      </div>
</ion-content>
