<!--
  Generated template for the EditShopLocationModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>Ubah Lokasi Toko</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
    
    
    <div style="width: 100%; height: 100%" #mapContainer></div>
    <div class="floating-btn">
        <button class="margin-left-10" color="green" ion-button round (click)="editShopLoc()">Ubah Lokasi Toko</button>
        <button ion-button round (click)="cancel()">Batalkan</button>
    </div>
    
    
</ion-content>
