page-shop-dashboard {
    .card-border{
        // background: #ff6659;
        border-radius: 15px !important;
        border: 1px solid #ff6659;
        width: 90%;
        margin-top: 0px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .item-sliding-border-produk{
        // background: #ff6659;
        border-radius: 15px !important;
        border: 1px solid #ff6659;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .card-color{
        background-image: url('../assets/imgs/bg_profile.png');
        background-size: 100%;
        height: 30%;
        padding-top: 10%;
        border: 1px black;
    }

    .margin-right-5{
        margin-right: 5px;
    }

    .margin-right-15{
        margin-right: 15px;
    }

    .align-right{
        text-align: right;
    }

    ion-content{
        background-image: url('../assets/imgs/bg_profile.png') !important;
        background-size: 100% !important; 
    }

}
