<!--
  Generated template for the ShopDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar color="primary">
    <ion-title>Shop</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="card-color animated fadeIn">
        <ion-card class="card-border " (click)="changeShopDesc();">
          <ion-card-header>
            <h1><b>{{currentUserData.name}}</b></h1>
          </ion-card-header>
          <ion-card-content>
            <p>{{currentUserData.phone}}</p>
            <p>{{currentUserData.address}}</p>
            <hr>
            <p>{{currentUserData.shop_description}}</p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-list-header color="primary">Dijual
          </ion-list-header>
          <ion-list>
            <div *ngFor="let x of shopProduct">
              <div *ngIf="x.status == 'show'">
                  <ion-item-sliding class="item-sliding-border-produk" #item>
                    <ion-item>
                      <h2>{{x.product_name}}</h2>
                      <p>Rp. {{x.price_per_volume}}/liter</p>
                      <p>stok: {{x.stock_volume}} liter</p>
                      <ion-grid>
                          <ion-row>
                            <ion-col col-4>
                              <button color="red" ion-button small (click)="hide(item,x)"><ion-icon name="trash" class="margin-right-5"></ion-icon> Hapus</button>
                            </ion-col>
                            <ion-col col-4>
                              <button color="green"ion-button small (click)="price(item,x)"><ion-icon name ="pricetag" class="margin-right-5"></ion-icon> Harga</button>
                            </ion-col>
                            <ion-col col-4>
                              <button color="yellow" ion-button small (click)="stock(item,x)"><ion-icon name="add" class="margin-right-5"></ion-icon> Stok</button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                    </ion-item>
                    
                  </ion-item-sliding>
                  
                </div>
            </div>
          </ion-list>
        </ion-card>
        <ion-card>
            <ion-list-header color="primary">Tidak Dijual</ion-list-header>
            <ion-list>
                <div *ngFor="let x of shopProduct">
                  <div *ngIf="x.status == 'hide'">
                      <ion-item-sliding class="item-sliding-border-produk" #item>
                        <!-- <ion-item>
                        <ion-grid>
                          <ion-row>
                            <ion-col col-8>
                                <ion-item>
                                    <h2>{{x.product_name}}</h2>
                                    <p>Rp. {{x.price_per_volume}}/liter</p>
                                    <p>stok: {{x.stock_volume}} liter</p>
                                  </ion-item>
                            </ion-col>
                            <ion-col col-4>
                                <button color="green" ion-button small (click)="show(item,x)"><ion-icon name="add" class="margin-right-5"></ion-icon>Jual</button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        </ion-item> -->
                        <ion-item>
                            <h2>{{x.product_name}}</h2>
                            <p>Rp. {{x.price_per_volume}}/liter</p>
                            <p>stok: {{x.stock_volume}} liter</p>
                            <ion-grid>
                                <ion-row>
                                  
                                  <ion-col col-4>
                                    <button color="green"ion-button small (click)="price(item,x)"><ion-icon name ="pricetag" class="margin-right-5"></ion-icon> Harga</button>
                                  </ion-col>
                                  <ion-col col-4>
                                    <button color="yellow" ion-button small (click)="stock(item,x)"><ion-icon name="add" class="margin-right-5"></ion-icon> Stock</button>
                                  </ion-col>
                                  <ion-col col-4>
                                      <button color="red" ion-button small (click)="show(item,x)"><ion-icon name="arrow-round-up" class="margin-right-15"></ion-icon> Jual</button>
                                    </ion-col>
                                </ion-row>
                              </ion-grid>
                          </ion-item>
                        <!-- <ion-item>
                          <h2>{{x.product_name}}</h2>
                          <p>Rp. {{x.price_per_volume}}/liter</p>
                          <p>stok: {{x.stock_volume}} liter</p>
                        </ion-item> -->
                        <!-- <ion-item-options side="right"> -->
                          <!-- <button ion-button (click)="edit(item,x)">Ubah</button> -->
                          <!-- <button ion-button (click)="show(item,x)">Dijual</button>
                        </ion-item-options> -->
                        <!-- <ion-item-options side="left">
                            <button ion-button (click)="price(item,x)">Ubah Harga</button>
                            <button ion-button (click)="stock(item,x)">Ubah Stok</button>
                          </ion-item-options> -->
                      </ion-item-sliding>
                    </div>
                </div>
              </ion-list>
          </ion-card>
      </div>
 
</ion-content>
